@media screen and (max-width:400px) {
    .nav-container{
         flex-direction: column; 
    
    }
    .nav-logo-container{
         flex-direction: column;
    }
    .nav-items-container {
        flex-direction: column;
        width: 100%;
        text-align: center;
    }
    .logo{
        width: 100%;  
        margin: 0 auto;
    }

    /* navbar end */

    .banner-container{  
        flex-direction: column;
    }
      .banner-text{
        width: 100%;
    }
    .banner-img {
        width: 100%; 
    }


}